.join-us {
  @include padding-section;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/banner-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  .container {
    @include center-display;
    flex-direction: column;
    text-align: center;
  }
  h4 {
    color: $red;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
  }
  h1 {
    margin: 1rem 0;
    color: $white;
    font-size: 4rem;
    font-weight: bolder;
  }
  p {
    color: $light-white;
    line-height: 1.9;
    font-size: 1.4rem;
    max-width: 60rem;
    margin-bottom: 2rem;
  }
}
